@import url(http://fonts.googleapis.com/css?family=Squada+One);

body {
  border-top: 7px solid #2795b6;
  padding-top: 10px;
}

h1 {
  font-family: 'Squada One', cursive, sans-serif;
}

article {
   padding-top: 3em;
}

section {
  padding-top: 20px;
}

footer {
  height: 50px;
  padding-top: 20px;
}

img.github {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
